
* {
    margin: 0;
    padding: 0;
}

/* grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "aside"
    "header"
    "main"
    "footer";
}

aside {
    grid-area: aside;
    background-color: black;
    color: white;
    display: flex;
    padding: 1rem;
}
aside ul {
    display: none;
}
.icon-title {
    display: flex;
    justify-content: flex-start;
}
.icon {
    background-color: white;
    border-radius: 10%;
}
.icon img{
    width: 3rem;
    height: 3rem;
}
.title {
    padding-left: 1rem;
    padding-right: 5rem;
}
.hamburger-button {
    padding-top: 0.5rem;
    padding-left: 5rem;
}
header {
    grid-area: header;
    background-color: #8C8B88;
    padding: 1rem;
}
.order {
    text-align: center;
}
.form-select {
    padding: 1rem
}
main {
    grid-area: main;
    overflow-y: scroll;
}
.product {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 2rem;
    border: 0.01rem #F2F2F2 solid;
    border-radius: 0px 0px 30px 40px;
}
.button {
    background-color: black;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    border-radius: 0px 0px 30px 40px;
}
.product img {
    width: 100%;
    height: 100%;
}
.product p {
    padding-top: 1rem;
}
.page-navigation {
    display: flex;
    justify-content: center;
}
footer {
    grid-area: footer;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}
/* ---------------MEDIA TABLET--------------------- */
@media (min-width: 574px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "aside aside"
            "header main"
            "footer footer";
    }
    aside {
        justify-content: space-between;
    }
    .hamburger-button {
        display: none;
    }
    aside ul {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        font-size: 0.9rem;
    }
    aside li {
        padding: 0.5rem;
    }
    .list-menu a{
        text-decoration: none;
        color: inherit;
    }
    .title {
        padding-left: 0.5rem;
        padding-right: 0.01rem;
    }
    .list-products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr;
    }
}

/* ---------------MEDIA DEKSTOP--------------------- */
@media (min-width: 992px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "aside header"
            "aside main"
            "footer main";
    }
    aside {
        flex-direction: column;
        justify-content: flex-start;
    }
    .hamburger-button {
        display: none;
    }
    aside ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        font-size: 1.2rem;
        text-align: center;
        padding-top: 1rem;
        padding-right: 2rem;
    }
    aside li {
        padding: 1rem;
    }
    .title {
        padding-left: 2rem;
    }
    header {
        padding: 1rem 1rem;
    }
    main {
        height: 90%;
    }
    .list-products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row: 1fr 1fr auto;
    }
}
